<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.demo1">
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    <application
        android:name=".cbeer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:windowSoftInputMode="adjustResize" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:process=":Process1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:process=":Process2"/>
        <activity
            android:name=".GameOneActivity"
            android:label="@string/title_activity_gameone"
            android:screenOrientation="landscape"
            android:process=":Process1"/>
        <activity
            android:name=".GameTwoActivity"
            android:label="@string/title_activity_gametwo"
            android:screenOrientation="landscape"
            android:process=":Process1"/>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:process=":Process2"/>
        <activity
            android:name=".GameThreeActivity"
            android:label="@string/title_activity_game_three"
            android:screenOrientation="landscape"
            android:process=":Process1"/>
    </application>

</manifest>
